
<section class="content-header">
    <h1>
        Registration
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><i class="fa fa-edit"></i> Registration</li>
    </ol>
</section>

<section class="content">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="registrationDisplayName">Display name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="registrationDisplayName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="registrationUsername">Username</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="registrationUsername">
                <p class="help-block">Alphanumeric characters allowed</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="registrationPassword">Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="registrationPassword">
                <p class="help-block">Password need 8 characters</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="registrationPasswordConfirm">Password (verify)</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="registrationPasswordConfirm">
                <p class="help-block">Please verify password</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="registrationEmail">Email</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" id="registrationEmail">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </div>
    </form>
</section>