<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ app.name }}</title>

    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.min.css">

    <script src="/components/react/react-with-addons.js"></script>
    <script src="/components/react/JSXTransformer.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/react-bootstrap/react-bootstrap.min.js"></script>
    <script src="/components/react-router/build/umd/ReactRouter.min.js"></script>

</head>
<body>
<script>
    if (typeof PODB === 'undefined') {
        var PODB = {
            'name': '{{ app.name }}'
        };
    }
</script>
<script type="text/jsx" src="/js/component/TranslationList.jsx"></script>
<script type="text/jsx" src="/js/component/DomainSelectButton.jsx"></script>
<script type="text/jsx" src="/js/component/LanguageSelectButton.jsx"></script>
<script type="text/jsx" src="/js/component/UserList.jsx"></script>
<script type="text/jsx" src="/js/component/Users.jsx"></script>
<script type="text/jsx" src="/js/component/Project.jsx"></script>
<script type="text/jsx" src="/js/component/ProjectList.jsx"></script>
<script type="text/jsx" src="/js/component/Profile.jsx"></script>
<script type="text/jsx" src="/js/component/Dashboard.jsx"></script>
<script type="text/jsx" src="/js/component/Home.jsx"></script>
<script type="text/jsx" src="/js/component/SignIn.js"></script>
<script type="text/jsx" src="/js/component/NavigationBar.js"></script>
<script type="text/jsx" src="/js/Application.js"></script>
<script type="text/jsx" src="/js/routing.js"></script>
</body>
</html>