<?php
return array(

    'db.options' => array (
        'driver'    => 'pdo_mysql',
        'host'      => 'localhost',
        'dbname'    => 'podb',
        'user'      => 'root',
        'password'  => 'root',
        'charset'   => 'utf8mb4',
//        'prefix'   => '', // TODO
    ),

    'session.storage.options' => array(
        'cookie_lifetime' => 43200 // TODO default??
    ),

    'twig.path' => __DIR__ . '/../src/Views',
    'twig.options' => array('cache' => __DIR__ . '/../data/twig'),// TODO tmp folder

    'monolog.logfile' => __DIR__ . '/../data/application.log',// TODO tmp folder

    // TODO
    'swiftmailer.options' => array(
        'host' => 'localhost',
        'port' => '25',
        'username' => 'username',
        'password' => 'password',
        'encryption' => null,
        'auth_mode' => null
    ),

    'debug' => true,


    'podb.requestLimit.resetInterval' => 3600,
    'podb.requestLimit.limit' => 60,
    'podb.requestLimit.authenticatedLimit' => 5000,

    'podb.registration.email_validation' => false,
    'podb.registration.account_validation' => false,

    'podb.password.salt' => 'what you want'
);
