<?php
return array(

    'db.options' => array (
        'driver'    => 'pdo_mysql',
        'host'      => 'localhost',
        'dbname'    => 'podb',
        'user'      => 'root',
        'password'  => 'root',
        'charset'   => 'utf8mb4',
//        'prefix'   => '', // TODO
    ),

    'session.storage.options' => array(
        'cookie_lifetime' => 60*60*12
    ),

    'twig.path' => __DIR__ . '/../src/Views',
    'twig.options' => array('cache' => __DIR__ . '/../tmp/twig'),

    'monolog.logfile' => __DIR__ . '/../data/application.log',

    // TODO
    'swiftmailer.options' => array(
        'host' => 'localhost',
        'port' => '25',
        'username' => 'username',
        'password' => 'password',
        'encryption' => null,
        'auth_mode' => null
    ),

    'debug' => true,

    'orm.proxy.dir' => __DIR__ . '/../tmp/doctrine/proxy',

    'podb.requestLimit.resetInterval' => 3600,
    'podb.requestLimit.limit' => 60,
    'podb.requestLimit.authenticatedLimit' => 5000,

    'podb.registration.email_validation' => false,
    'podb.registration.account_validation' => false,

    'podb.password.salt' => 'what you want',

    'console.name'    => 'PODB-Console',
    'console.version' => '0.0.0',
    'console.project_directory' => __DIR__.'/..',
);
