<?php
return array(

    'dbs.option' => array (
        'driver'    => 'pdo_mysql',
        'host'      => 'localhost',
        'dbname'    => 'podb',
        'user'      => 'root',
        'password'  => 'root',
        'charset'   => 'utf8mb4',
//        'prefix'   => '', // TODO
    ),

    'session.storage.options' => array(
        'cookie_lifetime' => 43200 // TODO default??
    ),

    'debug' => true,


    'podb.requestLimit.resetInterval' => 3600,
    'podb.requestLimit.limit' => 60,
    'podb.requestLimit.authenticatedLimit' => 5000,
);
